OPENAI_API_KEY = ""

QDRANT_URL = ""
QDRANT_API_KEY = ""
COLLECTION_NAME = ""

WHATSAPP_ACCESS_TOKEN=""
WHATSAPP_APP_ID=""
WHATSAPP_VERSION=""
WHATSAPP_PHONE_NUMBER_ID=""
WHATSAPP_VERIFY_TOKEN=""


AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
AWS_BUCKET_NAME = ""
DYNAMODB_TABLE_NAME = ""

COHERE_API_KEY = ""